<% provide(:title, "ログイン") %>
<section class="position-relative py-5 my-5 overflow-hidden">
  <div class="d-none d-md-block position-absolute top-0 start-0 bg-primary w-100 h-100"></div>
  <div class="d-md-none position-absolute top-0 start-0 bg-primary w-100 h-100"></div>
  <div class="container position-relative mx-auto">
    <div class="row align-items-center">
      <div class="col-12 col-md-8 col-lg-5 mb-5">
        <div>
          <h2 class="display-5 fw-bold mb-4 text-white">ゴードービジネスマシンのコミュニティに参加してあなたが培った経験を共有しませんか？</h2>
          <p class="mb-0 text-white">資格をあきらめたくない</p>
        </div>
      </div>
      <div class="col-12 col-md-10 col-lg-5 ms-auto">
        <div class="p-5 bg-light rounded text-center">
            <h3 class="fw-bold mb-4">おかえりなさい！</h3>
            <%= form_with(url: login_path, scope: :session) do |f| %>
              <%= f.label :email, "メールアドレス" %>
              <%= f.email_field :email, class: 'form-control mb-2', placeholder: "@example.com" %>
              <%= f.label :password, "パスワード" %>
              <%= f.password_field :password, class: 'form-control mb-2', placeholder: "パスワード" %>
              <%= f.submit "始める", class: "btn btn-purple py-2 w-100 mb-4" %>
            <% end %>
            <a class="link-secondary d-inline-block" href="#"><small>パスワードをお忘れですか？</small></a><br>
            <%= link_to "新規登録はこちら", signup_path, class: "link-secondary d-inline-block mb-4" %>
        </div>
      </div>
    </div>
  </div>
</section>
