<%= provide(:title, '新規登録') %>
<section class="position-relative py-5 my-5 overflow-hidden bg-new">
  <div class="d-none d-md-block position-absolute top-0 start-0 bg-primary w-100 h-100"></div>
  <div class="d-md-none position-absolute top-0 start-0 bg-primary w-100 h-100"></div>
  <div class="container position-relative mx-auto">
    <div class="row align-items-center">
      <div class="col-12 col-md-8 col-lg-5 mb-5">
        <div>
          <h2 class="display-5 fw-bold mb-4 text-white">Lorem ipsum dolor sit amet consectutar domor at Elis</h2>
          <p class="mb-0 text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit.ペレンテスク・マッサ・ニブ、プルビナー・ヴィタエ・アリケット・ネック、アカムサン・アリケット・オルチ。</p>
        </div>
      </div>
      <div class="col-12 col-md-10 col-lg-5 ms-auto">
        <div class="p-5 bg-light rounded text-center">
            <span class="text-muted">サインイン</span>
            <h3 class="fw-bold mb-5">コミュニティに参加する</h3>
            <%= form_with(model: @user) do |f| %>
              <%= render 'shared/error_messages' %>
              <%= f.label :name, "お名前" %>
              <%= f.text_field :name, class: 'form-control mb-2', placeholder: "ゴードー太郎" %>
              <%= f.label :email, "メールアドレス" %>
              <%= f.email_field :email, class: 'form-control mb-2', placeholder: "@example.com" %>
              <%= f.label :password, "パスワード" %>
              <%= f.password_field :password, class: 'form-control mb-2', placeholder: "パスワード" %>
              <%= f.label :password_confirmation, "パスワード再確認" %>
              <%= f.password_field :password_confirmation, class: 'form-control mb-2', placeholder: "パスワード" %>
              <%= f.submit "始める", class: "btn btn-purple py-2 w-100 mb-4" %>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
