<!DOCTYPE html>
<html>
  <head>
    <!--provideで設定したシンボル(:title)が引数として代入される-->
    <title><%= full_title(yield(:title)) %> | 基本情報フィードバックサイトFE_FD</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="turbo-cache-control" content="no-cache">
    <!--以下４つは、スタイルシートとJsをインクルード（含める）ためのもの-->
    <!--SCRF対策-->
    <%= csrf_meta_tags %>
    <!--XSS対策-->
    <%= csp_meta_tag %>
    <!--application.cssを全てのメディアタイプで使用可能にする-->
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="d-flex flex-column vh-100">
    <%= render "layouts/header" %>
    <div id="flash">"
      <%= render 'application/flash' %>
    <div>
      <%= yield %>
    </main>
    <%= render "layouts/footer" %>


    <%= turbo_frame_tag "modal" %>
    <div id="flashes" class="position-fixed top-0 end-0" style="margin: 0.75rem"></div>
  </body>
</html>
