<!DOCTYPE html>
<html>
  <head>
    <!--provideで設定したシンボル(:title)が引数として代入される-->
    <title><%= full_title(yield(:title)) %> | 基本情報フィードバックサイトFE_FD</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!--以下４つは、スタイルシートとJsをインクルード（含める）ためのもの-->
    <!--SCRF対策-->
    <%= csrf_meta_tags %>
    <!--XSS対策-->
    <%= csp_meta_tag %>
    <!--application.cssを全てのメディアタイプで使用可能にする-->
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="d-flex flex-column vh-100">
    <%= render "layouts/header" %>
    <main class="mb-auto">
      <%= yield %>
    </main>
    <%= render "layouts/footer" %>
  </body>
</html>
